@import url(../fonts/fonts.css);
html.fixed {
  overflow: hidden;
}

body {
  scroll-behavior: smooth;
  background-color: #fff;
  font-family: "Lato-Regular";
  color: #2F2F2F;
  font-size: 14px;
  line-height: 1.4;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, a::-moz-selection, span::-moz-selection, div::-moz-selection, img::-moz-selection, mark::-moz-selection, ul::-moz-selection, li::-moz-selection {
  color: #fff;
  background-color: #2F2F2F;
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, span::selection, div::selection, img::selection, mark::selection, ul::selection, li::selection {
  color: #fff;
  background-color: #2F2F2F;
}

::-moz-selection {
  color: #fff;
  background-color: #2F2F2F;
}

::selection {
  color: #fff;
  background-color: #2F2F2F;
}

a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active, .btn, .btn:after, select:focus, select:active {
  text-decoration: none;
  outline: none;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

a {
  color: #2F2F2F;
}

a:hover {
  color: #EF8F01;
}

button {
  border: transparent;
  background: none;
}

option {
  color: #2F2F2F;
}

textarea {
  resize: none !important;
  overflow: hidden;
}

textarea::-webkit-input-placeholder {
  color: #2F2F2F;
}

textarea::-moz-placeholder {
  color: #2F2F2F;
}

textarea:-ms-input-placeholder {
  color: #2F2F2F;
}

textarea::-ms-input-placeholder {
  color: #2F2F2F;
}

textarea::placeholder {
  color: #2F2F2F;
}

input,
textarea,
select {
  color: #2F2F2F;
  font-family: "Lato-Regular";
  font-size: 14px;
  padding: 12px 30px;
  border: none;
  border-bottom: 1px solid #2F2F2F;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder {
  color: #2F2F2F;
}

input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder {
  color: #2F2F2F;
}

input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder {
  color: #2F2F2F;
}

input[type="text"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder,
input[type="tel"]::-ms-input-placeholder {
  color: #2F2F2F;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
  color: #2F2F2F;
}

input:focus,
textarea:focus,
input:active,
textarea:active {
  color: #2F2F2F;
  border-color: #EF8F01;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}

.select__wrp {
  border: 1px solid #EAEAEA;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
}

.select__wrp::before {
  content: '';
  position: absolute;
  width: 13px;
  height: 7px;
  background: url("../img/icon__select-arr.svg") no-repeat 50% 50%/contain;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 9px;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.select__wrp select {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 8px 40px 8px 12px;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.select__wrp select option {
  width: 100%;
}

.select__wrp:hover::before {
  -webkit-transform: translateY(-50%) scale(0.9);
      -ms-transform: translateY(-50%) scale(0.9);
          transform: translateY(-50%) scale(0.9);
}

.input__wrp {
  position: relative;
}

.input__wrp input,
.input__wrp select,
.input__wrp textarea {
  width: 100%;
  padding-left: 25px;
  background-color: transparent;
}

.input__wrp::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-top: -1px;
  width: 14px;
  height: 17px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.input__wrp_name::before {
  background-image: url("../img/icon__form-name.svg");
}

.input__wrp_mail::before {
  background-image: url("../img/icon__form-mail.svg");
}

.input__wrp_tel::before {
  background-image: url("../img/icon__form-tel.svg");
}

.input__wrp_text::before {
  top: 14px;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  background-image: url("../img/icon__form-mes.svg");
}

.quantity {
  position: relative;
  max-width: 129px;
}

.quantity input {
  width: 100%;
}

.quantity-num {
  text-align: center;
}

.quantity-minus, .quantity-plus {
  position: absolute;
  height: 50%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-family: "Lato-Regular";
  font-size: 32px;
  line-height: 0;
  border: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.quantity-minus:hover, .quantity-plus:hover {
  opacity: .7;
}

.quantity-minus {
  left: 15px;
  color: #3498DB;
}

.quantity-plus {
  right: 15px;
  color: #EF8F01;
}

.tabs__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .tabs__list {
    display: none;
  }
}

.tabs__list li {
  padding: 10px 15px;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
  cursor: pointer;
}

.tabs__list li.active {
  background-color: #EF8F01;
  color: #fff;
}

.tabs-acc__btn {
  display: none;
  width: 100%;
  padding: 12px 25px;
  background-color: #f6f6f6;
  text-align: center;
  cursor: pointer;
  border: 1px solid #fff;
}

@media only screen and (max-width: 600px) {
  .tabs-acc__btn {
    display: block;
  }
}

.tabs-acc__btn.active {
  background-color: #EF8F01;
  color: #fff;
}

.tabs-acc__cnt {
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset;
}

.checkbox {
  cursor: pointer;
  position: relative;
  margin-bottom: 0;
}

.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  position: absolute;
  left: 0;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 20px;
  cursor: pointer;
}

.checkbox .checkbox__text {
  font-size: 14px;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  width: 100%;
  height: 30px;
  display: block;
}

.checkbox .checkbox__text::before {
  content: '';
  position: absolute;
  top: 0px;
  left: -2px;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #c3c2c2;
  background: #fff;
}

.checkbox .checkbox__text::after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -11px;
  left: 2px;
  width: 12px;
  height: 12px;
  background-color: #EF8F01;
  border-radius: 2px;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.checkbox .checkbox__text a {
  text-decoration: underline;
  position: relative;
  z-index: 2;
}

.checkbox input[type="checkbox"]:checked + .checkbox__text:after,
.checkbox input[type="radio"]:checked + .checkbox__text:after {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.checkbox input[type="checkbox"]:checked + .checkbox__text:before,
.checkbox input[type="radio"]:checked + .checkbox__text:before {
  background-color: #fff;
  border: 1px solid #EF8F01;
}

.checkbox input[type="checkbox"]:focus + .checkbox__text:before {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(49, 179, 237, 0.61);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(49, 179, 237, 0.61);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.shd {
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.shd:hover {
  -webkit-box-shadow: 0px 30px 40px rgba(0, 80, 147, 0.25);
          box-shadow: 0px 30px 40px rgba(0, 80, 147, 0.25);
}

.b {
  font-family: "Lato-Bold";
}

.m {
  font-family: "Lato-Medium";
}

.blc {
  font-family: "Lato-Black";
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.tal {
  text-align: left !important;
}

.und {
  text-decoration: underline;
}

.upp {
  text-transform: uppercase;
}

.ttn {
  text-transform: none !important;
}

.curp {
  cursor: pointer;
}

.lgr {
  color: #f6f6f6;
}

.dgr {
  color: #848484;
}

.wt {
  color: #fff;
}

a.wt {
  color: #fff;
}

a.wt:hover {
  color: #EF8F01;
}

.yel {
  color: #EF8F01;
}

a.yel {
  color: #EF8F01;
}

a.yel:hover {
  color: #fff;
}

.fz25 {
  font-size: 25px;
}

@media only screen and (max-width: 1200px) {
  .fz25 {
    font-size: 18px;
  }
}

.fz18 {
  font-size: 18px;
}

@media only screen and (max-width: 1200px) {
  .fz18 {
    font-size: 16px;
  }
}

.fz16 {
  font-size: 16px;
}

@media only screen and (max-width: 1200px) {
  .fz16 {
    font-size: 14px;
  }
}

.fz15 {
  font-size: 15px;
}

@media only screen and (max-width: 1200px) {
  .fz15 {
    font-size: 14px;
  }
}

.fz13 {
  font-size: 13px;
}

@media only screen and (max-width: 1200px) {
  .fz13 {
    font-size: 12px;
  }
}

.btn {
  font-size: 13px;
  font-family: "Lato-Black";
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 25px;
  background: #EF8F01;
  display: inline-block;
  border: none;
  border-radius: 3px;
  position: relative;
  outline: none;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

@media only screen and (max-width: 1200px) {
  .btn {
    font-size: 12px;
    padding: 10px;
  }
}

.btn:hover {
  color: #fff;
  opacity: .9;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
}

.btn_gr {
  background-color: #fff;
  border: 1px solid #848484;
  color: #2F2F2F;
}

.btn_gr:hover {
  color: #fff;
  background-color: #EF8F01;
  border-color: #EF8F01;
}

.list_circle {
  list-style-type: none;
  padding-left: 0;
}

.list_circle li {
  padding-left: 25px;
  position: relative;
}

.list_circle li {
  margin-bottom: 10px;
}

.list_circle li::before {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: #EF8F01;
  left: 0;
  top: 6px;
  border-radius: 50%;
}

.fancybox-slide--html {
  padding: 0;
}

/* Custom animation */
.fancybox-fx-slide-in-in.fancybox-slide--next,
.fancybox-fx-slide-in-in.fancybox-slide--previous {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.fancybox-fx-slide-in-in.fancybox-slide--current {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.popup__container {
  padding: 43px 15px 0;
  background-color: transparent;
}

@media only screen and (max-width: 1200px) {
  .popup__container {
    padding-left: 0;
    padding-right: 0;
  }
}

.popup__container *,
.popup__container *::before,
.popup__container *::after {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.popup__container .fancybox-close-small {
  top: 0;
  right: 2px;
  padding: 0;
}

.popup__container .fancybox-close-small svg path {
  fill: #fff;
}

.popup__container .popup__wrp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  max-width: 600px;
}

.popup__container .popup {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #fff;
  color: #2F2F2F;
  padding: 30px 25px 30px;
  text-align: center;
}

.popup__container .popup_call__wrp {
  max-width: 500px;
  width: 100%;
}

.pop_crane__close svg path {
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.pop_crane__close:hover {
  color: #EF8F01;
}

.pop_crane__close:hover svg {
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.pop_crane__close:hover svg path {
  stroke: #EF8F01;
}

.pop_crane__wrp {
  max-width: unset;
  width: 100%;
  min-height: 100vh;
  padding: 40px 0;
  background-color: #f6f6f6;
}

@media only screen and (max-width: 1200px) {
  .pop_crane__wrp {
    padding: 20px 0;
  }
}

.pop_crane__wrp .fancybox-close-small {
  display: none;
}

.pop_crane__slider_top {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.pop_crane__slider_top-item {
  display: block;
  width: 100%;
  height: 400px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #f6f6f6;
}

@media only screen and (max-width: 1200px) {
  .pop_crane__slider_top-item {
    height: 250px;
  }
}

.pop_crane__slider_top.owl-carousel .owl-nav button.owl-prev {
  left: -25px;
}

.pop_crane__slider_top.owl-carousel .owl-nav button.owl-next {
  right: -25px;
}

.pop_crane__slider_bot-item {
  width: 100%;
  height: 100px;
  display: block;
  cursor: pointer;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid #EAEAEA;
}

.owl-carousel .owl-item img {
  width: auto !important;
}

.owl-carousel .owl-dots {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
}

.owl-carousel .owl-dots button.owl-dot {
  width: 10px;
  height: 10px;
  border: 1px solid #848484;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
}

.owl-carousel .owl-dots button.owl-dot:not(:last-child) {
  margin-right: 10px;
}

.owl-carousel .owl-dots button.owl-dot.active {
  -webkit-box-shadow: 0px 0px 0px 4px rgba(239, 143, 1, 0.15);
          box-shadow: 0px 0px 0px 4px rgba(239, 143, 1, 0.15);
  border-color: transparent;
  background-color: #EF8F01;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  width: 31px;
  height: 31px;
  position: absolute;
  bottom: 50%;
  margin-bottom: -25.5px;
  border-radius: 50%;
  padding: 0;
  background-color: transparent;
  border: 1.5px solid #2F2F2F;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.owl-carousel .owl-nav button.owl-prev svg,
.owl-carousel .owl-nav button.owl-next svg {
  max-width: 17px;
  max-height: 17px;
  height: auto;
  fill: none;
  stroke: #2F2F2F;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
  background-color: #EF8F01;
  border-color: #EF8F01;
}

.owl-carousel .owl-nav button.owl-prev:hover svg,
.owl-carousel .owl-nav button.owl-next:hover svg {
  stroke: #fff;
}

.owl-carousel .owl-nav button.owl-prev.disabled,
.owl-carousel .owl-nav button.owl-next.disabled,
.owl-carousel .owl-nav button.owl-prev.disabled:hover,
.owl-carousel .owl-nav button.owl-next.disabled:hover {
  opacity: 0;
  cursor: default;
}

.owl-carousel .owl-nav button.owl-prev {
  left: 0;
}

.owl-carousel .owl-nav button.owl-next {
  right: 0;
}

.section_inner {
  padding: 60px 0;
}

@media only screen and (max-width: 1200px) {
  .section_inner {
    padding: 30px 0;
  }
}

.section__ttl {
  font-size: 30px;
  font-family: "Lato-Black";
  letter-spacing: .5px;
  margin-bottom: 35px;
}

@media only screen and (max-width: 1200px) {
  .section__ttl {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.header {
  position: fixed;
  width: 100%;
  padding: 10px 0;
  z-index: 3;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

@media only screen and (max-width: 1200px) {
  .header {
    padding: 0;
  }
}

.header.sticky {
  background-color: #161616c2;
}

.header__logo {
  position: relative;
  min-height: 63px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1200px) {
  .header__logo {
    min-height: 50px;
  }
  .header__logo img {
    max-height: 35px;
  }
}

.header__logo::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 32px;
  top: 50%;
  right: -15px;
  background-color: #848484;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: .5;
}

@media only screen and (max-width: 1200px) {
  .header__logo::after {
    display: none;
  }
}

.header__logo:hover {
  opacity: .8;
}

.header__nav {
  padding-left: 25px;
}

.header__nav-link {
  position: relative;
}

.header__nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #EF8F01;
  left: 0;
  bottom: -4px;
}

.header__nav-link.active {
  color: #EF8F01;
}

.header__nav-link.active::after {
  width: 100%;
}

.header__nav-link:not(:last-child) {
  margin-right: 15px;
}

@media only screen and (max-width: 1200px) {
  .header__nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-left: 0;
    margin-top: 30px;
  }
  .header__nav-link {
    margin-right: 0 !important;
    margin-bottom: 8px;
  }
  .header__nav-wrp {
    width: 100%;
    min-height: -webkit-calc(100% - 50px);
    min-height: calc(100% - 50px);
    overflow-y: scroll;
    position: fixed;
    top: 50px;
    right: -100%;
    border-top: 1px solid #848484;
    background-color: #161616f0;
    -webkit-transition: .4s all ease;
    -o-transition: .4s all ease;
    transition: .4s all ease;
  }
}

@media only screen and (max-width: 1200px) {
  .header__tel-wrp {
    text-align: right;
  }
}

@media only screen and (max-width: 1200px) {
  .header__tel {
    font-size: 13px;
  }
}

.header .btn {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (max-width: 1200px) {
  .header .btn {
    padding: 8px 10px;
  }
}

.header__hamburger {
  position: relative;
  width: 100%;
  height: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.header__hamburger span {
  width: 100%;
  max-width: 24px;
  height: 2px;
  background-color: #EF8F01;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.header__hamburger::before, .header__hamburger::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: #EF8F01;
  right: 0;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.header__hamburger::before {
  top: -1px;
}

.header__hamburger::after {
  bottom: -1px;
}

.menu-open {
  overflow: hidden;
}

.menu-open .header {
  background-color: #161616f0;
}

.menu-open .header__hamburger span {
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0;
}

.menu-open .header__hamburger::before {
  -webkit-transform: translateY(10px) rotate(45deg);
      -ms-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}

.menu-open .header__hamburger::after {
  -webkit-transform: translateY(-10px) rotate(-45deg);
      -ms-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

.menu-open .header__nav-wrp {
  right: 0;
}

.sidebar__soc {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: -webkit-calc(-1110px/2);
  margin-left: calc(-1110px/2);
  z-index: 3;
}

@media only screen and (max-width: 1200px) {
  .sidebar__soc {
    display: none;
  }
}

.sidebar__soc-link {
  width: 44px;
  height: 44px;
  border: 1px solid #848484;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.sidebar__soc-link svg {
  fill: #848484;
}

.sidebar__soc-link:hover {
  background-color: #EF8F01;
  border-color: #EF8F01;
}

.sidebar__soc-link:hover svg {
  fill: #fff;
}

.banner {
  position: relative;
  color: #fff;
  overflow: hidden;
}

.banner .container {
  position: relative;
}

.banner__ttl {
  font-size: 35px;
}

@media only screen and (max-width: 1200px) {
  .banner__ttl {
    font-size: 22px;
    margin-bottom: 15px;
  }
}

.banner__info {
  font-size: 18px;
}

@media only screen and (max-width: 1200px) {
  .banner__info {
    font-size: 16px;
  }
}

.banner__info span:first-child {
  color: #848484;
}

.banner__info-mail {
  position: relative;
}

.banner__info-mail::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #EF8F01;
  left: 0;
  bottom: -4px;
}

.banner__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.banner__bg-item {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner__bg-item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #161616;
  opacity: .5;
}

@media only screen and (max-width: 1200px) {
  .banner__bg-item::before {
    width: 104%;
    left: -7px;
  }
}

@media only screen and (max-width: 1200px) {
  .banner__bg-item {
    min-height: 500px;
  }
}

.banner__slider-item {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 25px;
}

@media only screen and (max-width: 1200px) {
  .banner__slider-item {
    min-height: 500px;
    padding-left: 0;
  }
}

.banner__slider-item-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-left: 12.5px;
}

@media only screen and (max-width: 1200px) {
  .banner__slider-item-btn {
    margin-left: 0;
  }
}

.banner__slider .owl-dots {
  bottom: 240px;
  left: 30px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media only screen and (max-width: 1200px) {
  .banner__slider .owl-dots {
    bottom: 30px;
    left: 0;
  }
}

.crane {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@media only screen and (max-width: 1200px) {
  .crane {
    min-height: unset;
  }
}

.crane_best {
  background-color: #f6f6f6;
}

.crane_sixteen {
  background-color: #eaeaea;
}

.crane_sixteen .crane__slider::after {
  background-color: #eaeaea;
}

.crane_twentyfive {
  background-color: #f6f6f6;
}

.crane_thirtyfive {
  background-color: #eaeaea;
}

.crane_thirtyfive .crane__slider::after {
  background-color: #eaeaea;
}

.crane_fourty {
  background-color: #f6f6f6;
}

.crane__slider::after {
  content: '';
  position: absolute;
  right: 100%;
  top: 0;
  width: 800%;
  height: 100%;
  background-color: #f6f6f6;
}

.crane__slider .owl-stage-outer {
  overflow: visible;
}

.crane__slider .owl-nav button.owl-prev {
  border-color: #848484;
  top: -72px;
  left: auto;
  right: 45px;
}

@media only screen and (max-width: 1200px) {
  .crane__slider .owl-nav button.owl-prev {
    top: -47px;
  }
}

.crane__slider .owl-nav button.owl-prev svg {
  stroke: #848484;
}

.crane__slider .owl-nav button.owl-next {
  border-color: #848484;
  top: -72px;
}

@media only screen and (max-width: 1200px) {
  .crane__slider .owl-nav button.owl-next {
    top: -47px;
  }
}

.crane__slider .owl-nav button.owl-next svg {
  stroke: #848484;
}

.crane__item {
  color: #2F2F2F;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

@media only screen and (max-width: 600px) {
  .crane__item {
    margin-bottom: 25px;
  }
}

.crane__item-bot {
  padding: 15px;
}

.crane__item .btn {
  padding-left: 15px;
  padding-right: 15px;
}

.crane__item-wrp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 270px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-right: 4px;
  padding-bottom: 20px;
  padding-left: 4px;
}

.crane__item-wrp:hover .crane__item {
  -webkit-box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.25);
}

.crane__img-wrp {
  width: 100%;
  height: 110px;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
  position: relative;
}

.crane__img-wrp:hover .crane__img_main {
  opacity: 0;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
}

.crane__img-wrp:hover .crane__img_add {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.crane__img_main, .crane__img_add {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

@media only screen and (max-width: 1200px) {
  .crane__img_main {
    opacity: 1 !important;
    -webkit-transform: scale(1) !important;
        -ms-transform: scale(1) !important;
            transform: scale(1) !important;
  }
}

.crane__img_add {
  height: 200%;
  background-color: #fff;
  top: 0;
  opacity: 0;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
}

@media only screen and (max-width: 1200px) {
  .crane__img_add {
    display: none;
  }
}

.about {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1200px) {
  .about {
    min-height: unset;
    text-align: center;
  }
}

.about__list {
  max-width: 770px;
}

@media only screen and (max-width: 1200px) {
  .about__item {
    margin-bottom: 25px;
  }
}

.about__item-in {
  max-width: 170px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 20px 10px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  background-color: #f6f6f6;
  border-radius: 2px;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.about__item-in:hover {
  background-color: #fff;
}

.about__item-img {
  width: 100%;
  height: 60px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.serv {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
}

@media only screen and (max-width: 1200px) {
  .serv {
    min-height: unset;
    text-align: center;
  }
}

.serv__list {
  max-width: 770px;
}

.serv__item {
  min-height: 250px;
}

@media only screen and (max-width: 1200px) {
  .serv__item {
    margin-bottom: 35px;
  }
}

.serv__item-in {
  position: relative;
  color: #fff;
  max-width: 170px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 60px 10px 15px;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.serv__item-in::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #2F2F2F;
  opacity: .8;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.serv__item-in > * {
  position: relative;
}

.serv__item-in:hover {
  -webkit-box-shadow: 0px 30px 30px rgba(134, 80, 0, 0.25);
          box-shadow: 0px 30px 30px rgba(134, 80, 0, 0.25);
}

.serv__item-in:hover::before {
  background-color: #EF8F01;
}

.serv__item-img {
  width: 100%;
  height: 60px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.lis {
  color: #fff;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/lis__bg.jpg");
}

@media only screen and (max-width: 1200px) {
  .lis {
    min-height: unset;
    text-align: center;
  }
}

.lis::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #161616;
  opacity: .91;
}

.lis .container {
  position: relative;
}

.lis__list {
  max-width: 770px;
}

@media only screen and (max-width: 1200px) {
  .lis__item {
    margin-bottom: 35px;
  }
}

.lis__item-in {
  color: #2F2F2F;
  max-width: 170px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 20px 10px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  background-color: #f6f6f6;
  border-radius: 2px;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.lis__item-in:hover {
  background-color: #fff;
}

.lis__item-img {
  width: 100%;
  height: 60px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.lis .input__wrp input {
  color: #EAEAEA;
  border-bottom-color: #EAEAEA;
}

.lis .input__wrp input:focus {
  border-bottom-color: #EF8F01;
}

.lis .input__wrp input::-webkit-input-placeholder {
  color: #EAEAEA;
}

.lis .input__wrp input::-moz-placeholder {
  color: #EAEAEA;
}

.lis .input__wrp input:-ms-input-placeholder {
  color: #EAEAEA;
}

.lis .input__wrp input::-ms-input-placeholder {
  color: #EAEAEA;
}

.lis .input__wrp input::placeholder {
  color: #EAEAEA;
}

.part {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1200px) {
  .part {
    min-height: unset;
    text-align: center;
  }
}

.part__item {
  width: 170px;
  height: 140px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  background-color: #f6f6f6;
  border-radius: 2px;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1200px) {
  .part__item {
    margin-bottom: 25px;
  }
}

.part__item:hover {
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

.feed {
  color: #2F2F2F;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
}

@media only screen and (max-width: 1200px) {
  .feed {
    text-align: center;
    min-height: unset;
  }
}

.map {
  min-height: 100vh;
}

@media only screen and (max-width: 1200px) {
  .map {
    display: none;
  }
}

.map__wrp {
  position: relative;
  min-height: 100vh;
}

@media only screen and (max-width: 1200px) {
  .map__wrp {
    min-height: unset;
  }
}

.map .ymaps-2-1-74-ground-pane {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%) invert(1);
          filter: grayscale(100%) invert(1);
}

.map__cnt {
  position: absolute;
  font-size: 18px;
  padding: 30px 20px;
  background-color: #ef8f01bf;
  color: #fff;
  max-width: 327px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 50%;
  margin-left: -webkit-calc(-890px/2);
  margin-left: calc(-890px/2);
}

.map__cnt a {
  color: #fff;
}

.map__cnt a:hover {
  opacity: .7;
}

@media only screen and (max-width: 1200px) {
  .map__cnt {
    position: relative;
    font-size: 16px;
    text-align: center;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    max-width: unset;
    left: 0;
    top: 0;
    margin-left: 0;
    background-color: #EF8F01;
  }
}

.map__tel {
  font-size: 25px;
  font-family: "Lato-Black";
}

@media only screen and (max-width: 1200px) {
  .map__tel {
    font-size: 18px;
  }
}

.footer {
  background-color: #2F2F2F;
  color: #fff;
  padding: 40px 0 50px;
}

@media only screen and (max-width: 1200px) {
  .footer {
    padding: 30px 0;
  }
}

.footer__logo {
  position: relative;
}

.footer__logo img {
  max-height: 43px;
}

.footer__logo::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 32px;
  top: 50%;
  right: -15px;
  background-color: #848484;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: .5;
}

@media only screen and (max-width: 600px) {
  .footer__logo::after {
    height: 20px;
  }
}

.footer__logo:hover {
  opacity: .8;
}

@media only screen and (max-width: 600px) {
  .footer__logo::after {
    display: none;
  }
  .footer__logo-text {
    font-size: 11px;
  }
}

.footer__soc-link {
  width: 44px;
  height: 44px;
  border: 1px solid #848484;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.footer__soc-link svg {
  fill: #848484;
}

.footer__soc-link:hover {
  background-color: #EF8F01;
  border-color: #EF8F01;
}

.footer__soc-link:hover svg {
  fill: #fff;
}

.footer .btn {
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (max-width: 600px) {
  .footer {
    text-align: center !important;
  }
  .footer .tar {
    text-align: center;
  }
}
